{% load static %}
<link rel="stylesheet" href="{% static 'vivad/css/footer.css' %}">

<div class="navbar-fixed-bottom row-fluid">
	<div class="navbar-inner navbar-footer">
		<div class="footer_text">
			© 2018 Copyright <br>
			Менеджер паролей онлайн «ViVad»
		</div>		
	</div>
</div>