{% load static %}
{% load base64_decode %}
<link rel="stylesheet" href="{% static 'vivad/css/header_style.css' %}">

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid header-block">
		<div class = "row">
			<div class = "col-md-9">
				<div class="navbar-header">
					<a class="navbar-brand" href="#"><img src="{% static 'vivad/img/logo.png' %}" width="235" height="80" alt="Logo">
					</a>
				</div>
			</div>
			{% if user.is_authenticated %}
			<div class="col-md-3">
				<div class="navbar-collapse collapse">
					<div class="fav">
						<span>{{request.COOKIES.fav|base64_decode}}</span>
					</div>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">меню <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="{% url 'main-page' %}">Хранилище</a></li>
								<li><a href="{% url 'settings' %}">Настройки</a></li>
								<li class="divider"></li>
								<li><a href="{% url 'logout' %}">Выход</a></li>
							</ul>
						</li>
					</ul>
				<!--/.nav-collapse -->
				</div>
			</div>
			{% else %}
			<div class = "col-md-3 vcenter">
				<div class="fav">
					<span>{{request.COOKIES.fav|base64_decode}}</span>
				</div>
				<form action="{% url 'login' %}">
					<input href="{% url 'login' %}" id="btn_login" class="btn" type="submit" value="ВОЙТИ">
				</form>
			</div>
			{% endif %}			
		</div>
    <!--/.container-fluid -->
    </div>
</nav>

<!--script src="{% static 'vivad/js/bootstrap.min.js' %}"></script-->
<script type="text/javascript" src="{% static 'vivad/js/bootstrap-native-v4.min.js' %}"></script>