<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8" />
    <title>ViVad</title>
	<link rel="stylesheet" href="{% static 'vivad/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vivad/css/home_style.css' %}">
</head>
<body>
{% include "vivad/header.html" %}

	<div class="container text-center">
		<div class="row">
			<div class="carousel-wrapper">
				<span id="item-1"></span>
				<span id="item-2"></span>
				<span id="item-3"></span>
				<span id="item-4"></span>
				<span id="item-5"></span>
				<div class="carousel-item item-1">
					<a class="arrow arrow-prev" href="#item-3"></a>
					<a class="arrow arrow-next" href="#item-2"></a>
				</div>
				
				<div class="carousel-item item-2">
					<a class="arrow arrow-prev" href="#item-1"></a>
					<a class="arrow arrow-next" href="#item-3"></a>
				</div>
				
				<div class="carousel-item item-3">
					<a class="arrow arrow-prev" href="#item-2"></a>
					<a class="arrow arrow-next" href="#item-4"></a>
				</div>
				
				<div class="carousel-item item-4">
					<a class="arrow arrow-prev" href="#item-3"></a>
					<a class="arrow arrow-next" href="#item-5"></a>
				</div>
				
				<div class="carousel-item item-5">
					<a class="arrow arrow-prev" href="#item-4"></a>
					<a class="arrow arrow-next" href="#item-1"></a>
				</div>
			</div>
		</div>	
	</div>    
	
	{% include "vivad/footer.html" %}
</body>
</html>
