<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="UTF-8" />
	<title>ViVad</title>
	<style type="text/css">
			body, html
			{
				margin: 0; padding: 0; height: 100%; overflow: hidden;
			}
			#content
			{
				position:absolute; left: 0; right: 0; bottom: 0; top: 0px;
			}
			iframe{
				width: 100%;
				height: 100%;
				border-width: 0px;
			}
	</style>
</head>
<body>
	<div id="content">
		<iframe src="{% url 'main-page' %}" name="target"></iframe>
	</div>
	<script type="text/javascript" src="{% static 'vivad/js/index.js'%}"></script>
</body>
</html>
