<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html>
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
	<link rel="stylesheet" href="{% static 'vivad/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'vivad/css/global_style.css' %}">
	<link rel="stylesheet" href="{% static 'vivad/css/login_register_style.css' %}">
</head>
<body>
<script>
var salts={{salts|safe|default:"['0']"}};
</script>
{% include "vivad/header.html" %}

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="well form login-register-box">
					<form action="{% url 'login' %}" method="POST" id="login_form">
					{% csrf_token %}
						<input type="submit" class="hidden_btn" value="Войти" />
						<legend>ВОЙТИ ИЛИ <a id="link_register">ЗАРЕГИСТРИРОВАТЬСЯ</a></legend>
						
						{% if login_error %}
						<span class="errorInfo">{{ login_error }}</span>
						{% endif %}
				
						<div class="form-group">
							<p>{{login_form.username|add_class:"form-control"|add_class:"input_field"}}</p>
						</div>
						<div class="form-group">
							<p>{{login_form.password|add_class:"form-control"|add_class:"input_field"}}</p>
						</div>
						<div class="form-group text-center">					
							<button id="btn_login_cancel" onclick="location.href='{% url 'main-page' %}'" class="btn">Отмена</button>
							<input type="submit" class="btn" name="btn_login_ok" id="btn_login_ok" value="Войти" />
						</div>
					</form>
					
					<form action="{% url 'registration' %}" method="POST" id="register_form">
					{% csrf_token %}
						<input type="submit" class="hidden_btn" value="Регистрация" />
						<legend>Регистрация</legend>
						
						{% if reg_error %}
						<span class="errorInfo">{{ reg_error }}</span>
						{% endif %}
				
						<div class="form-group">
							<p>{{registration_form.username|add_class:"form-control"|add_class:"input_field"}}</p>
						</div>
						<span class="errorInfo" id="login_reg_error"></span>
						
						{{registration_form.username_hash}}
						
						<div class="form-group">
							<p>{{registration_form.password|add_class:"form-control"|add_class:"input_field"}}</p>
						</div>
						<div class="form-group">
							<p>{{registration_form.repeat_password|add_class:"form-control"|add_class:"input_field"}}</p>
						</div>
						<span class="errorInfo" id="password_reg_error"></span>	
						
						<div class="form-group">
							<p>{{registration_form.email|add_class:"form-control"|add_class:"input_field"}}</p>
						</div>
						
						<div class="form-group">
							<p>{{registration_form.favorite_phrase|add_class:"form-control"|add_class:"input_field"}}</p>
						</div>
						
						<div class="form-group text-center">					
							<button id="btn_register_cancel" class="btn">Отмена</button>
							<input type="submit" class="btn" id="btn_register_ok" value="Регистрация"/>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	{% include "vivad/footer.html" %}
	
	<script type="text/javascript" src="{% static 'vivad/js/ajax.js' %}"></script>
	<script type="text/javascript" src="{% static 'vivad/js/hashing.js' %}"></script>
	<script type="text/javascript" src="{% static 'vivad/js/child_interaction.js' %}"></script>
	<script type="text/javascript" src="{% static 'vivad/js/login_register_script.js' %}"></script>
	<script type="text/javascript" src="{% static 'vivad/js/crypt/sha3.js' %}"></script>
	<script type="text/javascript" src="{% static 'vivad/js/crypt/aes.js' %}"></script>
</body>
</html>