{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>-_-</title>
	<script type="text/javascript" src="{% static 'vivad/js/vue.js' %}"></script>
	<script type="text/javascript">
		my_data = {
			struct: {
				type: 'd',
				name: '/',
				childs:[{
						type: 'd',
						name: 'some-dir-name',
						childs: [],
					},{
						type: 'd',
						name: 'some-other-dir 1',
						childs: [{
								type: 'd',
								name: 'some-inner-dir 2',
								childs: [{
										type: 'd',
										name: 'NAMEsdgfdfghfdshgjhgjghjgughjghjghjfhjfjhhgjhygjhyujkyuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuusgdfhgfjgfjg',
										childs: [],
									},{
										type: 'p',
										name: 'def 1',
										username: 'some user 1',
										password: 'some pass'
									},{
										type: 'p',
										name: 'def 2',
										username: 'some user 2',
										password: 'some pass'
									},{
										type: 'p',
										name: 'def 3',
										username: 'some user 3',
										password: 'some pass'
									},{
										type: 'p',
										name: 'def 4',
										username: 'some user 4',
										password: 'some pass'
									},{
										type: 'p',
										name: 'def 5',
										username: 'some user 5',
										password: 'some pass'
									},
								],
							},{
								type: 'p',
								name: 'def 6',
								username: 'some user 6',
								password: 'some pass'
							},{
								type: 'p',
								name: 'def 7',
								username: 'some user 7',
								password: 'some pass'
							},{
								type: 'p',
								name: 'def 8',
								username: 'some user 8',
								password: 'some pass'
							},
						],
					},{
						type: 'p',
						name: 'abc',
						username: 'username',
						password: 'passwd'
					}
				],
			}
		}
	</script>
	<script type="text/javascript" src="{% static 'vivad/js/app.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'vivad/css/app.css' %}">
</head>
<body>
	<div id="some_id" class="some_class">какой-то контент страницы здесь</div>
	<div id="app"></div>
	<div id="some_id" class="some_class">и здесь</div>
{% include "vivad/vue_templates.html" %}
</body>
</html>