<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html>
<head>
    <meta charset="UTF-8" />
    <title>Settings</title>
		<link rel="stylesheet" href="{% static 'vivad/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'vivad/css/global_style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'vivad/css/profile_settings_style.css' %}">
		<script type="text/javascript" src="{% static 'vivad/js/crypt/sha3.js' %}"></script>
		<script type="text/javascript" src="{% static 'vivad/js/crypt/aes.js' %}"></script>
		<script type="text/javascript" src="{% static 'vivad/js/crypt.js' %}"></script>
		<script type="text/javascript" src="{% static 'vivad/js/hashing.js' %}"></script>
		<script type="text/javascript" src="{% static 'vivad/js/child_interaction.js' %}"></script>
</head>
<body>
<script type="text/javascript">
	var salts = {{salts|safe|default:"['0']"}};
</script>
{% include "vivad/header.html" %}
	<div class = "container">
		<div class="row profile-settings">
		    <div class="col-md-6">
				<div id="name_settings_form" class="name_settings center-block well form">
					{% if form_result %}
						<span style="color:white">{{form_result}}</span>
					{% endif %}
					<nav>
						<p><a id="link_edit_password" class="link">Изменить пароль</a></p>
						<p><a id="link_edit_favorite_phrase" class="link">Изменить любимую фразу</a></p>
						<p><a id="link_delete_account" class="link">Удалить аккаунт</a></p>				
					</nav>
				</div>
			</div>
				
			<div class="col-md-6">
				<div class="settings_password">
					<form action="{% url 'handle-settings-edit-password' %}" method="POST" class="center-block well form" id="settings_password_form" style="display:none">
					{% csrf_token %}
					<input type="submit" class="hidden_btn" value="Подтвердить" />
						<legend>Пароль</legend>
						<div class="form-group">
							<p>{{edit_password_form.username|add_class:"form-control"|add_class:"input_field"}}</p>
						</div>
						<div class="form-group">
							<p>{{edit_password_form.old_password|add_class:"form-control"|add_class:"input_field"}}</p>
						</div>
						<div class="form-group">
							<p>{{edit_password_form.new_password|add_class:"form-control"|add_class:"input_field"}}</p>
						</div>
						<div class="form-group">
							<p>{{edit_password_form.new_repeat_password|add_class:"form-control"|add_class:"input_field"}}</p>
						</div>
							<span class="errorInfo" id="edit_password_error"></span>	
						
						<div class="form-group text-center">
							<button id="btn_cancel_edit_password" class="btn">Отмена</button>
							<input type="submit" class="btn" id="btn_ok_edit_password" value="Подтвердить" />
						</div>
					</form>	
				</div>
				<div class="settings_phrase">
					<form action="{% url 'handle-settings-edit-favorite-phrase' %}" method="POST" class="center-block well form" id="settings_phrase_form" style="display:none">
					{% csrf_token %}
					<input type="submit" class="hidden_btn" value="Подтвердить" />
						<legend>Любимая фраза</legend>
						<div class="form-group">
							<p>{{edit_favorite_phrase_form.new_favorite_phrase|add_class:"form-control"|add_class:"input_field"}}</p>			
						</div>
	
						<div class="form-group text-center">
							<button id="btn_cancel_edit_phrase" class="btn">Отмена</button>
							<input type="submit" class="btn" id="btn_ok_edit_phrase" value="Подтвердить" />
						</div>	
					</form>	
				</div>
				<div class="settings_delete">
					<form action="{% url 'handle-settings-delete-account' %}" method="POST" class="center-block well form" id="settings_delete_form" style="display:none">
					{% csrf_token %}
					<input type="submit" class="hidden_btn" value="Удалить" />
						<legend>Удаление аккаунта</legend>
						<div class="form-group">
							<p>{{delete_account_form.username|add_class:"form-control"|add_class:"input_field"}}</p>
						</div>
						<div class="form-group">
							<p>{{delete_account_form.password|add_class:"form-control"|add_class:"input_field"}}</p>
							{{delete_account_form.username_hash}}
						</div>
						<div class="form-group text-center">
							<button id="btn_cancel_delete_account" class="btn">Отмена</button>
							<input type="submit" class="btn" id="btn_ok_delete_account" value="Удалить" />
						</div>	
					</form>	
				</div>
			</div>
		</div>
	</div>
	
	{% include "vivad/footer.html" %}

	<script type="text/javascript" src="{% static 'vivad/js/recrypt_data.js' %}"></script>
	<script type="text/javascript" src="{% static 'vivad/js/profile_settings_script.js' %}"></script>
</body>
</html>

