<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html>
<head>
    <meta charset="UTF-8" />
    <title>Storage</title>
	<link rel="stylesheet" href="{% static 'vivad/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vivad/css/global_style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vivad/css/storage_style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vivad/css/app.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vivad/css/popup.css' %}">

	<script type="text/javascript" src="{% static 'vivad/js/child_interaction.js' %}"></script>
	<script type="text/javascript" src="{% static 'vivad/js/crypt/aes.js' %}"></script>
	<script type="text/javascript" src="{% static 'vivad/js/crypt.js' %}"></script>
	<script type="text/javascript" src="{% static 'vivad/js/ajax.js' %}"></script>
	<script type="text/javascript" src="{% static 'vivad/js/vue.js' %}"></script>
</head>
<body>
{% include "vivad/header.html" %}
	<script type="text/javascript">
		var csrf_token = '{{csrf_token}}';
		document.memory = {
			'user_data':{
				type: 'd',
				name: '/',
				childs:{{user_data|safe|default:"[]"}}
			}
		};
	</script>


	<div class = "container" id="popup_storage">	
			{% include "vivad/vue_templates.html" %}
			<div id="storage_content"></div>
			
		<div class="row">	
			<div class="col-md-12 popup-modal">
				<!-- Modal -->
				<div class="modal fade" tabindex="-1" id="popup_show_site" role="dialog">
					<div class="modal-dialog well form">
						<button type="button" class="close" data-dismiss="modal">&times;</button>				
						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-body">
								<form action="{% url 'handle-show-site-form' %}" method="POST">
									{% csrf_token %}
									<legend>Информация о сайте</legend>
									<div class="form-group">
										<label>Название:</label>
										<label></label>
									</div>
									<div class="form-group">		
										<label>Ссылка:</label>
										<label></label>
									</div>
									<div class="form-group">
										<label>Логин:</label>
										<label></label>
									</div>
									<div class="form-group">
										<label>Пароль:</label>
										<label for="name"></label>
									</div>
									<div class="form-group">
										<label>Примечание:</label>
										<label></label>
									</div>
									<div class="form-group text-center">
										<input type="submit" class="btn" id="btn_ok_show_site" value="Подтвердить">
										<button type="button" id="btn_cancel_show_site" class="btn" data-dismiss="modal">Отмена</button>
									</div>
								</form>	
							</div>
						</div>					
					</div>
				</div>	
				
				<!-- Modal -->
				<div class="modal fade" tabindex="-1" id="popup_new_directory" role="dialog">
					<div class="modal-dialog  well form">
						<button type="button" class="close" data-dismiss="modal">&times;</button>				
						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-body">
								<form action="{% url 'handle-directory-form' %}" method="POST">
								{% csrf_token %}
									<legend>Название каталога</legend>
									<div class="form-group">
										<p>{{directory_form.name|add_class:"form-control"|add_class:"input_field"}}</p>	
									</div>
								
									<div class="form-group text-center">
										<input type="submit" class="btn" id="but_ok_add_directory" name="btn_add_directory" value="Подтвердить">
										<button type="button" id="but_cancel_directory" class="btn" data-dismiss="modal">Отмена</button>
									</div>
								</form>
							</div>
						</div>					
					</div>
				</div>				
				
				<!-- Modal -->
				<div class="modal fade" data-keyboard="false" id="popup_new_site" role="dialog">
					<div id="with-or-without-generate-password-form" class="col-md-6 without-generate-password-form">
						<div id="col-with-or-without-generate-password" class="modal-dialog well form col-add-site">
							<button type="button" class="close" data-dismiss="modal">&times;</button>				
						<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-body">
									<form action="{% url 'handle-secret-form' %}" method="POST">
									{% csrf_token %}
										<legend>Добавление сайта</legend>
										<div class="form-group form-group-add-site">
											<p>{{secret_form.site_name|add_class:"form-control"|add_class:"input_field"}}</p>	
										</div>
										<div class="form-group form-group-add-site">
											<p>{{secret_form.url|add_class:"form-control"|add_class:"input_field"}}</p>	
										</div>
								
										<div class="form-group form-group-add-site">
											<p>{{secret_form.username|add_class:"form-control"|add_class:"input_field"}}</p>	
										</div>
										<div class="form-group form-group-add-site">
											<p>{{secret_form.password|add_class:"form-control"|add_class:"input_field"}}</p>	
										</div>
										<div class="form-group">
											<p>{{secret_form.comment|add_class:"form-control"|add_class:"textarea_popup"}}</p>	
										</div>
										
										<div class="form-group">
											<p>{{secret_form.directory_id|add_class:"form-control"|add_class:"input_field"}}</p>	
										</div>
										
										<div class="form-group text-center ok_cancel_btn">
											<input type="submit" class="btn" id="but_ok_add_secret" name="btn_add_secret" value="Подтвердить">
											<button type="button" id="btn_cancel_add_site" class="btn" data-dismiss="modal">Отмена</button>
										</div>
										<div class="form-group text-center">
											<button type="button" id="btn_generate_password" class="btn">Сгенерировать пароль</button>
										</div>
									</form>
								</div>
							</div>					
						</div>	
					</div>	
					<div class="col-md-6">
						<div id="block_generate_password" class="well form col-generate-password" style="display:none">
							<legend>Генератор паролей</legend>
							<div class="form-group">
								<input class="input_field input_field_generate form-control" type="text"  id="generate_password" placeholder="">
								<br>		
							</div>
								
							<div class="form-group">
								<div class="field_lenght">
									<label id="label_for_lenght" for="name">Длина:</label>
									<input class="input_field" type="text" id="lenght" />
								</div>
							</div>
							<div class="form-group">
								<div class="checkbox_menu">
									<div class="label_checkbox">
										<input class="input_popup" type="checkbox" id="coding" name="interest" value="coding">
										<label class="label_for_checkbox" for="coding">ABZ</label>
									</div>
									<div class="label_checkbox">
										<input class="input_popup" type="checkbox" id="music" name="interest" value="music">
										<label class="label_for_checkbox" for="music">abz</label>
									</div>
									<div class="label_checkbox">
										<input class="input_popup" type="checkbox" id="art" name="interest" value="art">
										<label class="label_for_checkbox" for="art">019</label>
									</div>
									<div class="label_checkbox">
										<input class="input_popup" type="checkbox" id="sports" name="interest" value="sports">
										<label class="label_for_checkbox" for="sports">!$^</label>
									</div>
								</div>
							</div>


							<div class="form-group text-center">
								<button type="button" id="btn_ok_generate_password" class="btn">Создать пароль</button>
								<button type="button" id="btn_cancel_generate_password" class="btn">Отмена</button>
							</div>								
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include "vivad/footer.html" %}

<script type="text/javascript" src="{% static 'vivad/js/storage_script.js' %}"></script>
<script type="text/javascript" src="{% static 'vivad/js/app.js' %}"></script>
</body>
</html>
