{% load widget_tweaks static %}
<script type="text/x-template" id="directory-template">
	<div>
		<template v-if="display_header">
			<span class="clickable" v-if="is_expandable">
				<span @click="toggle_expand">
					<span class="nowrap" v-if="is_expand">- 
						<span class="clickable">
							<span @click="display_this_dir">${dir.name} </span>
						</span>
					</span>
					<span class="nowrap" v-else>+ 
						<span class="clickable">
							<span @click="display_this_dir">
							${dir.name} </span>
						</span>
					</span>
				</span>
			</span>
	
			<span v-else class="clickable nowrap">
				<span @click="display_this_dir">
				<span id="dir_icon"></span>
				${dir.name}&nbsp;
			</span>	
			<i class="btn-close" @click="deleteFromList()">&times;</i></span>
		</template>
	
		<div class="sub-directory-view nowrap" v-if="is_expand">		
			<li v-if="display_back_button">
				<span class="clickable">
					<span @click="display_parent">
						<span id="back_icon"></span>
						Назад
					</span>
				</span>	
			</li>
		
			<li v-for="(sub_dir,index) in directories"><directory
				class="nowrap"
				:display_back_button="display_back_button"
				:dir="sub_dir"
				:key="sub_dir.name"
				:is_expandable="is_expandable"
				
				:init_is_only_dir="init_is_only_dir"
				></directory>
			</li>
	
			<template v-if="!init_is_only_dir">
				<li v-for="(pass, index) in passwords">
					<password			
						:key="index"				
						:pass="pass"
						:current_dir="dir"
					></password>
				</li>
			</template>
							
			<li><span @click="show_add_directory_modal(dir)" class="clickable"><span id="new_dir_icon"></span>&nbsp;</span></li>
			<li><span @click="show_add_site_modal(dir)" class="clickable"><span id="new_pass_icon"></span>&nbsp;</span></li>
		</div>
	</div>
</script>

<script type="text/x-template" id="password-template">
	<div class="nowrap">
		<span @click="show_site_info_modal" class="clickable">
		<span id="pass_icon"></span>
		${pass.name}&nbsp;
		</span>
		<i class="btn-close" @click="deleteSiteFromList()">&times;</i>
	</div>
</script>

<script type="text/x-template" id="main-template">
	<div class="col-md-12 storage_content" id="storage_content">
		<div class="row btn_storage">
			<div class="col-sm-6 btn_group">
				<button class="btn btn-margin-right" @click="show_add_directory_modal(fullTree)">Новая категория</button>
				<modal_directory :curr_dir="current_dir" v-if="show_directory_modal" @close="show_directory_modal = false"></modal_directory>
				<button class="btn" @click="show_add_site_modal(fullTree)">Новый файл</button>
				<modal_site :curr_dir="current_dir" :site="current_site" v-if="show_site_modal" @close="show_site_modal = false"></modal_site>				
			</div>					
			<div class="col-sm-6 btn_group">
				<form class="form-search">
					<input type="text" id="search" v-model="search_text" class="input-medium search-query">
					<button type="submit" @click="search" class="btn">Найти</button>
				</form>
			</div>
		</div>	
		<div class="row equal">
			<div class="col-md-4 col-sm-4 col-xs-4 column column_leftTree root well">	
				<ul class="treeline">
					<li>
						<ul>
							<directory 
								:display_back_button="false"
								:dir="fullTree"
								:init_is_only_dir="true"></directory>
						</ul>
					</li>
				</ul>	
			</div>
			<div class="col-md-8 col-sm-8 col-xs-8 column column_rightTree well">
				<ul class="treeline">
					<li><h1 class="head_name_dir">${displayed_dir.name}</h1>
						<ul>
							<directory
								:dir="displayed_dir"
								:init_is_only_dir="false"
								:display_header="false"
								:is_expandable="false"
								:init_is_expand="true"
							></directory>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</script>


<!-- template for the modal component -->
<script type="text/x-template" id="modal-new-directory-template">
	<transition name="modal">
		<div class="modal-mask" @keydown.esc="$emit('close')">
			<div class="modal-wrapper">
				<div class="modal-container well form">						
					<form action="#" @submit="handle_button_ok">
						{% csrf_token %}
						<button type="button" class="close pull-right" @click="$emit('close')">&times;</button>	
						<legend>Каталог</legend>
						<div class="form-group">
							<p>{{directory_form.name|  add_class:"form-control" | add_class:"input_field" | attr:"v-model:directory_name"}}</p>	
						</div>				
						<div class="form-group text-center">
							<input type="submit" class="btn" id="but_ok_add_directory" name="btn_add_directory" value="Подтвердить">
							<button type="button" id="but_cancel_directory" class="btn"  @click="$emit('close')">Отмена</button>
						</div>
					</form>
				</div>
			</div>
		</div>	
	</transition>
</script>


<script type="text/x-template" id="modal-site-template">
	<transition name="modal">
		<div class="modal-mask" @keydown.esc="$emit('close')">
			<div class="modal-wrapper">
				<div v-bind:class="{'row-centered': visible_generate}" class="row scroll">
					<div class="center-block">		
						<div id="block1" v-bind:class="{'col-md-4': visible_generate, 'col-sm-6':visible_generate, 'col-xs-12':visible_generate, 'col-centered':visible_generate}">	
							<div class="modal-container well form ">
								<button type="button" class="close pull-right" @click="$emit('close')">&times;</button>	
								<div class="">			
									<form action="#" @submit="handle_button_ok">
										{% csrf_token %}
										<legend>Сайт</legend>
										
										 <div class="form-group row form-group-add-site">
											<label for="id_secret-site_name" class="col-sm-2 col-form-label">Сайт:</label>
											<div class="col-sm-10">
												{{secret_form.site_name|  add_class:"form-control" | add_class:"input_field_popup" | attr:"v-model:site_name"}}
											</div>
										</div>
										 <div class="form-group row form-group-add-site">
											<label for="id_secret-url" class="col-sm-2 col-form-label">Ссылка:</label>
											<div class="col-sm-10">				{{secret_form.url|add_class:"form-control"|add_class:"input_field_popup" | attr:"v-model:site_url" | attr:"@blur:encrypt_field" | attr:"@focus:decrypt_field"}}
											</div>
										</div>
										 <div class="form-group row form-group-add-site">
											<label for="id_secret-username" class="col-sm-2 col-form-label">Логин:</label>
											<div class="col-sm-10">				{{secret_form.username|add_class:"form-control"|add_class:"input_field_popup" | attr:"v-model:site_username" | attr:"@blur:encrypt_field" | attr:"@focus:decrypt_field"}}
											</div>
										</div>
										<div class="form-group row form-group-add-site">
											<label for="id_secret-password" class="col-sm-2 col-form-label">Пароль:</label>
											<div class="col-sm-10">				{{secret_form.password|add_class:"form-control"|add_class:"input_field_popup" | attr:"v-model:site_password" | attr:"@blur:encrypt_field" | attr:"@focus:decrypt_field"}}
											</div>
										</div>
										<div class="form-group form-group-add-site">
											<label for="id_secret-comment">Примечание:</label>
											<div>				{{secret_form.comment|add_class:"form-control"|add_class:"textarea_popup" | attr:"v-model:site_comment" | attr:"@blur:encrypt_field" | attr:"@focus:decrypt_field"}}
											</div>
										</div>					
										<div class="form-group text-center ok_cancel_btn">
											<input type="submit" class="btn" id="but_ok_add_secret" name="btn_add_directory" value="Подтвердить">
											<button type="button" id="btn_cancel_add_site" class="btn"  @click="$emit('close')">Отмена</button>
										</div>
										<div class="form-group text-center">
											<button type="button" id="btn_generate_password" class="btn" @click="visible_generate=!visible_generate">Генератор пароля</button>
										</div>
									</form>			
								</div>
							</div>
						</div>
						<modal_generate v-if="visible_generate" @close="visible_generate = false" auto="true" ></modal_generate>
					</div>
				</div>
			</div>
		</div>	
	</transition>
</script>

<script type="text/x-template" id="modal-generate-template">
				<div id="block2" class="col-md-4 col-sm-6 col-xs-12 col-centered">	
				<div class="modal-container well form">
				<button type="button" class="close pull-right" @click="$emit('close')">&times;</button>	
				<div class="">
					<legend>Генератор пароля</legend>
						<div>
							<input class="input_field input_field_generate form-control" type="text"  id="generate_password" placeholder="Сгенерированный пароль" :value="password">
							<br>		
						</div>
							
						<div>
							<div class="field_lenght">
								<label id="label_for_lenght" for="name">Длина:</label>
								<input v-model="size" class="input_field" type="text" id="lenght"/>
							</div>
						</div>
						<div>
							<div class="checkbox_menu">
								<div class="label_checkbox">
									<input class="input_popup" type="checkbox" id="capital_letters" value="ABZ" v-model="checkedAlphabet"/>
									<label class="label_for_checkbox" for="capital_letters">ABZ</label>
								</div>
								<div class="label_checkbox">
									<input class="input_popup" type="checkbox" id="lower case" value="abz" v-model="checkedAlphabet"/>
									<label class="label_for_checkbox" for="lower case">abz</label>
								</div>
								<div class="label_checkbox">
									<input class="input_popup" type="checkbox" id="digits" value="019" v-model="checkedAlphabet"/>
									<label class="label_for_checkbox" for="digits">019</label>
								</div>
								<div class="label_checkbox">
									<input class="input_popup" type="checkbox" id="characters" value="!$^" v-model="checkedAlphabet"/>
									<label class="label_for_checkbox" for="characters">!$^</label>
								</div>
							</div>
						</div>
						
						
						<div class="text-center">
							<button type="button" id="btn_ok_generate_password" class="btn" @click="generate_password(checkedAlphabet)">Создать пароль</button>
							<button type="button" id="btn_cancel_generate_password" class="btn" @click="$emit('close')">Отмена</button>
						</div>		
					</div>
				</div>
			</div>
</script>





