tbody tr td:first-child
{
    /*max-width: 250px !important;*/
	box-shadow: inset -1px 0 0 red;
}

tbody tr td{
    /*max-width: 250px !important;*/
	box-shadow: inset -1px 0 0 red;
	overflow: auto !important;
}

.table{
	max-width:1700px;
}
.column {
	overflow: auto !important; /* ползунки прокрутки, если контент не будет помещаться*/
	/*-webkit-flex: 50%;
	flex: 50%;*/
	margin:1px;
	/*border: 1px solid #fff47d;*/
}

.name_list_dir{
	margin-left:15px;
	color:#555;
}
.head_name_dir{
	color:#000;
	font-weight:bold;
	font-size:24px;
	margin-bottom: .3em;
	margin-left: 15px;
}

.clear{
	clear:both;
}

.debug-border{
	margin: 1px;
	padding: 1px;
	border: 0.1px solid black;
}

/*.column:first-child{*/
	/*
	Instead of using width (which is a suggestion when using flexbox), you could use flex: 0 0 230px; which means:

    0 = don't grow (shorthand for flex-grow)
    0 = don't shrink (shorthand for flex-shrink)
    230px = start at 230px (shorthand for flex-basis)

	which means: always be 230px.
	*/
	/*flex: 0 0 250px;
}*/


.clickable{
	cursor: pointer;
}

.sub-directory-view{
	margin-left:5px;
}

/**/

.tree_margin{
	margin-left:15px;
}
.treeline, .treeline ul, .treeline li {
   margin: 0; padding: 0; line-height: 1.2; list-style: none;
}
.treeline ul {margin: 0 0 0 25px; /* отступ вертикальной линии */}
.treeline > li:not(:only-child), .treeline li li {
   position: relative;
   padding: 3px 0 0 20px; /* отступ текста */
}
/* Стиль вертикальной линии */
.treeline li:not(:last-child) { border-left: 1px solid #ccc;}
/* Стили горизонтальной линии*/  
.treeline li li:before, .treeline > li:not(:only-child):before {
   content: ""; position: absolute; top: 0; left: 0;
   width: 1.1em; height: .7em; border-bottom:1px solid #ccc;
}
/* Вертикальная линия последнего пункта в списка */  
.treeline li:last-child:before {
   width: calc(1.1em - 1px); border-left: 1px solid #ccc;
}

.root > ul >  li:before{
	display:none;
}

table td[class*="col-"], table th[class*="col-"] {

    position: static;
    display: table-cell;
    float: left;

}

.row-flex, .row-flex > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.row-flex-wrap {
	-webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex:0;
}

.row-flex > div[class*='col-'] {
	 margin:-.2px; /* hack adjust for wrapping */
}

.well {

    border-radius: 0px !important;
    /*border: 3px solid #fff;*//*#fff47d;*/
	border: none;
	background-color:#fff;
	box-shadow:none;

}

.equal {
	border:3px solid #000;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
}
.equal > [class*='col-'] {
	display: flex;
	flex-direction: column;
}

@media (max-width: 634px) {
  .equal {
 /*TODO*/
  }
}
.column_rightTree{
	box-shadow: inset 1px 0 0 #000;
}

/*Кнопки выровнены по рамке*/
.btn_storage .btn_group{
	padding-right: 0px;
	padding-left: 0px;
}

/*ICON FOR TREE*/
#pass_icon { 
	background-image: url('/static/vivad/img/list.png');   
	background-repeat: no-repeat; /*Убираем повтор изображения*/  
	background-size:15px 15px;	
    width:16px; 
    height:16px;
    display: block;
    float: left;
	padding:9px;
}

#dir_icon{
	background-image: url('/static/vivad/img/folder.png');   
	background-repeat: no-repeat; /*Убираем повтор изображения*/  
	background-size:15px 15px;	
    width:16px; 
    height:16px;
    display: block;
    float: left;
	padding:9px;
}

#new_pass_icon { 
	background-image: url('/static/vivad/img/list_add.png');
	background-repeat: no-repeat; /*Убираем повтор изображения*/  
	background-size:15px 15px;	
    width:16px; 
    height:16px;
    display: block;
    float: left;
	padding:9px;
}

#new_dir_icon{
	background-image: url('/static/vivad/img/folder_add.png');
	background-repeat: no-repeat; /*Убираем повтор изображения*/  
	background-size:15px 15px;	
    width:16px; 
    height:16px;
    display: block;
    float: left;
	padding:9px;
}

#back_icon{
	background-image: url('/static/vivad/img/back.png');   
	background-repeat: no-repeat; /*Убираем повтор изображения*/  
	background-size:15px 15px;	
    width:16px; 
    height:16px;
    display: block;
    float: left;
	padding:9px;
}

/*
#firm {
    float: left;
}*/

