.navbar-footer {
	display: table;
	width:100%;
	background:#000;
	height:70px;
	position: absolute;
	bottom: 0;
	margin-top:30px;
}

.footer_text{
	padding:10px;
	color:#fff;
	display: table-cell;
    vertical-align: middle;
    text-align:center;
    cursor:default;
}

html {
	position: relative;
	min-height: 100%;
}

body {
  /* Margin bottom by footer height */
	margin-bottom: 100px;
}