body {  
	font-family: 'Open Sans', sans-serif;
}

.form_field {
	border:0;
	text-align:center;
	padding:10px 0px 10px 0px;
}

.form_label{
	margin-left: auto;
    margin-right: auto;
	border:0;
	text-align:left;
	padding:10px 20px 10px 20px;
}
/*FORM DESIGN*/
.well{
    border-radius:10px!important;
    border:3px solid #fff47d;
}

.well.form {
    max-width:400px;
    margin:0 auto;
    display:block;
	background-color:#000;
	/*background-color:#ffd500;*/
}

.well.form legend {
	font-size:20px;
	text-align:center;
}
.well.form label {
	font-weight:300;
	font-size:14px;
	margin-bottom:0px;
}
.well.form input[type="text"] {
	box-shadow:none;
	border-radius:0;
}

/*FIELD FORM*/
.input_field 
{
	margin-left: auto;
    margin-right: auto;
	width:100%;
	max-width: 300px;
	border-radius: 0px;
}

.input_field:hover {
	border: 2px solid #ffd500;
}
  
.input_field:focus {
	border: 2px solid #ffd500;
}
  
.input_field:valid {
	border: 2px solid green;
} 

/*SPAN ERROR*/
.errorInfo{
    overflow:hidden;
    border:none;   
	color: #fff;
	font-size:16px;
	margin:auto; 
	display:table;
	margin-top:3px;
	margin-bottom:3px;
}

/*HEADER*/
legend{
	cursor: default;
	text-transform: uppercase;
	color:#fff;
	padding: 10px;
	font-weight: 300;
}

/*BUTTON*/
.btn
{
	font-weight: bold;
	text-transform: uppercase;
    -moz-border-radius: 5px; /*закругляем углы для Mozilla*/  
    -webkit-border-radius: 5px; /*закругляем углы для Chrome, Safari*/   
    border-radius: 5px; /*закругляем углы для остальных браузеров*/  
	font-family: 'Pacifico';
	color: #000;
	text-decoration: none;	
	padding: 5px 15px 5px 15px;
	background-color: #fff;
	border: 1px solid #bbb;
}
.btn:active, .btn:hover
{
	color: #000;
	background-color: #ffd500;
	font-weight: bold;
}

@media screen and (max-width: 328px){
  .btn{
	  font-weight: 100;	
	font-size: 12px;	  
  }
  .well.form legend {
    font-size: 16px;
}
}

/*LINK*/
.link {
    color: #fff; /* Цвет ссылок */
	text-transform: uppercase;
	margin-left:15px;
}

.link:visited {
    color: #fff; /* Цвет посещенных ссылок */
	text-decoration:none;
}

.link:active {
    background: #000; /* Цвет фона при наведении на ссылку курсора */
    color: #ffd500; /* Новый цвет текста */
	text-decoration:none;
}   

.link:hover {
    background: #000; /* Цвет фона при наведении на ссылку курсора */
    color: #ffd500; /* Новый цвет текста */
	cursor: pointer;
	text-decoration:none;
}

.hidden_btn{
	overflow: visible;
	width:0;
	height:0;
	padding:0;
	margin:0;
	border: 0;
	display: block;
}