/*header_block*/

.navbar-header {
	padding: 5px;
}

.navbar-right {
	padding: 5px;
}

.navbar {
	min-height:90px;
    margin-bottom: 30px;
}

.navbar-brand {
	padding: 0px;
	height: 80px;
}

.navbar-nav > li {
    float: none;
}

.navbar-toggle {
	padding: 10px;
	margin: 25px 15px 25px 0;
}

.navbar-inverse {
	background-color: #000;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
}

.collapse {
	display: block;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #ffd500;
}

.navbar-nav > li > .dropdown-menu {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.dropdown-menu .divider {
    margin: 0;
}

.dropdown-menu {
    z-index: 1;
}

.dropdown-toggle {
    font-size: 25px;
}

.navbar-nav .open .dropdown-menu {
    margin-top: 0 !important; 
}

/*BUTTON LOGIN*/
#btn_login{
	font-weight: bold;
	text-transform: uppercase;
    -moz-border-radius: 5px; /*закругляем углы для Mozilla*/  
    -webkit-border-radius: 5px; /*закругляем углы для Chrome, Safari*/   
    border-radius: 5px; /*закругляем углы для остальных браузеров*/  
	font-family: 'Pacifico';
	color: #000;
	text-decoration: none;	
	padding: 5px 15px 5px 15px;
	background-color: #fff;
	border: 1px solid #bbb;
}
#btn_login:active, #btn_login:hover{
	color: #000;
	background-color: #ffd500;
	font-weight: bold;
}

.vcenter{
	padding: 29.2px 15px;
	text-align: right;
}

@media screen and (max-width: 768px) { 
	.vcenter {text-align: left;}
	.fav {text-align: left !important;}
}

.fav{
	color:white;
	cursor: default;
	text-align: right;
}