
/*MODAL*/
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
    /*padding-top: calc(50% - 590px) !important;*/
}

/*@media (max-width: 1370px) {
  .modal-wrapper {
	padding-top: calc(50% - 540px) !important;
  }
}*/

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-container{
	max-width:450px !important;
	margin-bottom:5px !important;
	/*overflow: auto;*/
	/*max-height:750px;*/
}
.scroll{
	float:none !important;
	overflow: auto;
	max-height: 590px;
}

.gen{
	max-width:none !important;
}
/*.col-center-block {
float: none;
margin: 0 auto;
}*/

.col-center-block {
    float: none !important;
    margin: 0 auto;
	display: inline-block;
    /* margin-left: auto; margin-right: auto; */
}

/*@media (max-width: 690px) {
  .modal-container {
	max-height:500px;
  }
}*/

/*.add_with_generate{
	max-width:650px !important;
	overflow: auto;
}*/

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.btn_close {

    position: absolute;
    transition: all 200ms;
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    opacity: 1;
    z-index: 1;

}

.well {
    padding: 25px;
}
/*#block1 {
float: none;
	display: inline-block;
}

#block2 {
float: none;
	display: inline-block;
}*/

/*#block1 {
	vertical-align:top;
	display: inline-block;
}*/
/*
#block2 {
	margin-left: 28px;
	vertical-align:top;
	display: inline-block;
}*/

/*#block2 {
	margin-left: 28px;
	vertical-align:top;
	display: inline-block;
}*/

#block2 {
	vertical-align:top;
}

.centered {
    text-align: center;
}
.centered > div {
	vertical-align:top;
    float: none;
    display: inline-block !important;
}

/* centered columns styles */
.row-centered {
    text-align:center !important;
}
.col-centered {
    display:inline-block !important;
    float:none !important;
    /* reset the text-align */

    /* inline-block space fix */
}