.panel{
	position: relative;
	font-family: 'Pacifico';
    margin: 0 auto;
	width:100%;
	max-width:1000px;
	margin-top: 40px;
}

.center-block {
    float: none !important;
}

.name_settings {
	float: none !important;
	margin: 0 auto;
	vertical-align:top;
	width:100%;
	max-width:400px;
	border-radius: 10px;
	padding: 30px;
 } 
 nav p {
    margin: 0;
	padding:3px;
}
 
.profile-settings{
	overflow: auto;
}






