.btn_storage{
	margin-bottom:5px;
}

.box{
	margin-top: 45px;
	margin-left:150px;
	margin-right:150px;
	padding: 5px;
}

@media only screen and (min-width: 300px) and (max-width: 1100px){
	.box{
		margin-top: 30px !important;
		width:100%;
		float: none;
		margin: auto;
	}
	.box_menu input#search{
		max-width: 250px;   
		margin:auto;		
	}
}

.box_menu{
	margin-top: 0px;
	position: relative;
	float: left;
	/*max-width:1150px;
	width:1150px;
	text-align:center;*/
	width:100%;
	max-width:1920px;
}

.action-button
{
	-moz-border-radius: 10px; /*закругляем углы для Mozilla*/  
    -webkit-border-radius: 10px; /*закругляем углы для Chrome, Safari*/   
    border-radius: 10px; /*закругляем углы для остальных браузеров*/  
	font-family: 'Pacifico';
	color: #000;
	text-decoration: none;	
	padding: 5px 10px 5px 0px;
	background-color: #fff;
	border: 1px solid #bbb;
}

.new-category{
	margin-right:30px;
}

.icon{
	width:20px;
	height:20px;
	padding: 5px;
}

.action-button:active, .action-button:hover
{
	color: #000;
	/* background-color: #ffd500; */
	background-color: #edf8ff; 
}

.box_content{
	margin-top: 17px;
	position: relative;
	float: left;
	width:100%;
	max-width:1920px;
	color: #000;
}
 .panel{
	width:100%;
	background: #E8E8E8;
	margin-left: auto;
    margin-right: auto;
	margin-bottom:17px;
	padding:7px;
 }
 
 *, *:after, *:before {
    box-sizing: border-box;
}

 .heading{
	height:45px;
 }

 .title{
	 padding: 0 15px;
	 font-size:28px;
	 font-family: 'Orienta', sans-serif;
 }
 
 .show-site-button{
	 text-decoration-style: wavy;
 }

.content a{
	padding:3px;
}

.content button{

}

.content{
	padding:7px;
	background: #fff;
	max-width:99%;
    margin-left: auto;
    margin-right: auto;
}
 .add-site-button{ 
	display: block;
	background: #E8E8E8;
	color: #444;
	border-radius: .3em;
 }
 
 .show-site-button {
	display: block;
	margin-bottom: 7px;
	background: #E8E8E8;
	color: #444;
	border-radius: .3em;
}

.add-site-button:active, .add-site-button:hover
{
	color: #000;
	/* background-color: #ffd500; */
	/* background-color: #c7e8ff; */
	background-color: #edf8ff; 
}

.show-site-button:hover {background: #E9E4E0;}


.add_site{
	margin: 100px auto;
	float:left;
	margin-bottom:20px;
	width:100%;
	max-width:400px;
}


/*FORM SHOW SITE*/
.form-group label {
	color:#fff;
	/*margin-left: 30px;*/
}

/*POPUP*/
.modal-content {
	background-color:#000;
}

.close {
  /*position: absolute;
  top: 1px;
  right: 10px;*/
  transition: all 200ms;
  font-size: 30px;
  text-decoration: none;
  color: #fff;
  opacity: 1;
  z-index:1;
}

.close:hover {
  color: #ffd500;
}

#popup_new_directory{
	height: 400px;
    top: calc(50% - 200px) !important;
}

#popup_show_site{
	min-height: 430px;
    top: calc(50% - 250px) !important;
}
#popup_new_site{
	top: calc(50% - 275px) !important;
}
.modal-dialog.well.form{
	max-width:450px;
}
/*TEXTAREA*/
.textarea_popup{
	/*margin-left: auto;
    margin-right: auto;*/
	width:100%;
	/*max-width: 300px;*/
	border-radius: 0px;
	outline: none;
	-moz-appearance: none;
	border: 2px solid #999; /* указание этого свойства также удалит обводку в FireFox */
	resize: none;
	overflow: auto;
	padding-left: 15px;
}

.textarea_popup:hover {
	border: 2px solid #ffd500;
}
  
.textarea_popup:focus {
	border: 2px solid #ffd500;
}

.input_field_popup 
{
	width:100%;
	border-radius: 0px;
}

.input_field_popup:hover {
	border: 2px solid #ffd500;
}
  
.input_field_popup:focus {
	border: 2px solid #ffd500;
}
  
.input_field_popup:valid {
	border: 2px solid green;
} 

/*MARGIN TWO BUTTON*/
.ok_cancel_btn{
	margin-bottom: 5px;
}

.form-group-add-site{
	margin-bottom: 10px;
}

/*POPUP GENERATE PASSWORD AND ADD SITE*/
.without-generate-password-form{
	width:100%;
	margin:0 auto;
}

.with-generate-password-form{
	width:50% !important;
}

.well.form.col-add-site{
	min-height: 530px;
}
.col-add-site-generate-password{
	float:right;
}
.col-generate-password{
	float: left;
}

.popup-modal{
}

/*GENERATE PASSWORD*/
#block_generate_password{
	vertical-align:top;
	width:100%;
	max-width:400px;
	padding: 15px 15px 15px 15px;
	height: 350px;
    top: calc(50% - 275px) !important;
 }
 
.label_for_checkbox {
	display: block;
	color:#fff;
}

.field_lenght{
	text-align:center;
}

.checkbox_menu{
  display: table;
  margin: 0 auto;
}
#label_for_lenght{
	color:#fff;
}

.label_checkbox{
	margin-top: 10px;
	margin-bottom:10px;
	float:left;
	margin-left:10px;
}

.input_field_generate:valid{
	border: 2px solid #ffd500;
}

#lenght:valid{
	border: 2px solid #ffd500;
}

input[type="checkbox"] {
    width: 13px;
    height: 13px;
}

#lenght{
	max-width: 40px;
	height: 20px;
	padding-left: 5px;
}

 /*MENU*/
.btn-margin-right{
	 margin-right:5px;
 }
 
/*SEARCH*/
.form-search{
	 float: right;
}

input#search{
	font-size: 14px;
	padding: 5px 15px 5px 15px;
	max-width: 500px;
	background: #fff;
	border: 1px solid #bbb;
	padding-left: 30px;
	-moz-border-radius: 10px; /*закругляем углы для Mozilla*/  
    -webkit-border-radius: 10px; /*закругляем углы для Chrome, Safari*/   
    border-radius: 5px; /*закругляем углы для остальных браузеров*/  
	background-image: url('/static/vivad/img/search.png');   
	background-repeat: no-repeat; /*Убираем повтор изображения*/  
	background-size:20px 20px;	
	background-position: 5px; /*Позиционируем*/       
}

input#search:hover, input#search:focus, input#search:active{
    outline:none;
	color: #000;
	/* background-color: #ffd500; */
	background-color: #ffd500;
}
  
@media screen and (max-width: 768px) { 
	.form-search {float: left; margin-top:5px;}
}
  
  
/*Sub directory hover*/
.sub-directory-view li .nowrap:hover{
	background-color:#fafafa;
}

.btn-close{
	float:right;
	transition: all 200ms;
	font-size: 14px;
	text-decoration: none;
	color: #bbb;
	opacity: 1;
	z-index:1;
	cursor: pointer;
}

.btn-close:hover {
	color: #ffd500;
}
	color:red;
	background-color:#bbb;
}*/